
.basket i{
    margin-top: 16px;
    margin-left: 14px;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.count{
    position: relative;
    width: 22px;
    height: 22px;
    background-color: rgb(182, 178, 178);
    border-radius: 50%;
    top: 5px;
    right: 1px;
}
.basket span{
    position: absolute;
    top: -1px;
    right: 6px;
    color: white;
}

.price{
    float: right;
    font-size: 25px;
    color: green;
}
